
.QA{

  .subtitle{
    margin-bottom: 55px;
  }

}

.qa-list{

  .qa-content{
    margin: auto;
    max-width: 800px;
    margin-bottom: 20px;

    .question{
      background: #EAF3BF;
      border-radius: 8px;
      margin: auto;
      margin-bottom: 10px;
      padding: 15px;
      display: flex;
      align-items: center;
      // max-width: 800px;
  
      img{
        margin-right: 10px;
        margin-bottom: 5px;
      }
  
      img:hover{
        cursor: pointer;
      }
  
      p{
        font-family: 'Noto Sans CJK TC';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.855px;
        color: #697F01;
      }
    }
  
    .answer_visible{
      transition: all 0.3s ease-in-out;
      display: block;
      width: 100%;
      max-width: 740px;
      background: #FFF9E6;
      border-radius: 8px;
      padding: 100px;
      margin: auto;
    }

    .answer_invisible{
      display: none;
    }

  }

}


// QA toggle plus/minus effect 
.toggle-closed {
  margin: 0px 15px 5px 0px;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  outline: 1px solid  #697F01;

  .vertical {
    transition: all 0.3s ease-in-out;
    transform: rotate(-90deg);
  }
  .horizontal {
    transition: all 0.3s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
  }
}

.toggle-opened {
  margin: 0px 15px 5px 0px;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  outline: 1px solid  #697F01;

  // opacity: 1;
  .vertical {
    transition: all 0.3s ease-in-out;
    transform: rotate(90deg);
  }
  .horizontal {
    transition: all 0.3s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
  }
}


.horizontal {
    position: absolute;
    background-color: #697F01;
    width: 16px;
    height: 3px;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -1.5px;
}

.vertical {
    position: absolute;
    background-color: #697F01;
    width: 3px;
    height: 16px;
    left: 50%;
    margin-left: -1.5px;
    top: 50%;
    margin-top: -8px;
}

.toggle-closed:hover, .toggle-open:hover{
  cursor: pointer;
}




@media screen and (min-width: 992px) {

    .qa-list{
      .qa-content{

        .question{
          padding: 20px;

          img{
            margin-right: 15px;
          }

          p{
            font-size: 24px;
          }
        }      
      } 
    }
  
}